<!-- <span ng-bind="infoDetail.message"></span> -->



    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title"><span ng-bind="infoDetail.title"></span></h1>
        <p class="lead blog-description">{{infoDetail.description}}</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">一点资讯</h2>
            <p class="blog-post-meta">{{d}}<br/><a href="#">阅读</a></p>
            <img ng-src="{{globaVar.prefixImage}}{{infoDetail.img}}" alt="Generic placeholder image" style="width: 100%; height: 100%;">
            <br/><br/>

            <p compile="infoDetail.message"></p>
            <hr>
           
          </div><!-- /.blog-post -->

          <div class="blog-post">
            
          </div><!-- /.blog-post -->

          <div class="blog-post">
            
          </div><!-- /.blog-post -->

          <nav>
            <ul class="pager">
              <li><a href="{{infoDetail.url}}">查看详情</a></li>
              <li><a href="#">赞</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>KeyWords</h4>
            <p> <em>{{infoDetail.keywords}}</em></p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

   
