
   
<div class="row row-offcanvas row-offcanvas-right">
<div class="container col-xs-12 col-sm-10">
  <div class="blog-header">
    <h1 class="blog-title">{{askDetail.title}}</h1>
    <div class="lead blog-description">{{askDetail.description}}</div>
  </div>
  <div class="row">
    <div class="col-sm-12 blog-main">
   		 <img ng-src="{{globaVar.prefixImage}}{{askDetail.img}}" class="col-sm-12 col-md-7" />
		 <div class="askDetail_mes"></div>
    </div><!-- /.blog-main -->
   </div>
 </div>
 </div>